* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 {
    --line-clamp: 2;
}

.break-all {
    word-break: break-all;
}

.main-content {
    max-width: calc(100% - 48px);
    width: 1170px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    padding: 17px 41.5px;
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
    border-radius: 24.5px;
    background-color: #171100;
    color: #ffffff;
}
.btn:hover {
    opacity: 0.9;
}
/* Header */
.header {
    background-color: #fffcf4;
}

.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}
.header .main-content {
}

.header .main-content .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.header .main-content .nav {
    margin-left: auto;
}
.header .main-content .nav ul {
    display: flex;
}

.nav a {
    position: relative;
    padding: 8px 21px;
    color: #5f5b53;
}

.nav a:hover,
.nav li.active a {
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.nav li.active a::after {
    position: absolute;
    display: block;
    content: "";
    width: 12px;
    height: 2px;
    left: 21px;
    bottom: 6px;
    border-radius: 1px;
    background: #171100;
}

.header .sign-up-btn {
    min-width: 144px;
}

.header .action {
    margin-left: 49px;
}

/* Hero */
.hero {
    padding-top: 56px;
    background-color: #fffcf4;
}
.hero .main-content {
    padding-bottom: 65px;
}
.hero .body {
    display: flex;
}

/* hero left */
.media-block {
    position: relative;
    width: 48%;
}

/* hero right */
.content-block {
    width: 52%;
    padding: 64px 0 0 130px;
}
.hero .content-block .img {
    display: block;
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
}
.hero .content-block .heading {
    font-family: Sen;
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 68px;
    text-align: left;
}

.content-block .desc {
    margin-top: 22px;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #5f5b53;
}
.content-block .stats {
    margin-left: -28px;
    margin-top: 8px;
}
.content-block .stats strong {
    padding-left: 28px;
    padding-right: 5px;
    color: #171100;
    font-family: Sen;
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: left;
}

.cta-group {
    display: flex;
    align-items: center;
    margin-top: 38px;
    margin-bottom: 48px;
}

.cta-group .btn-cta {
    min-width: 180px;
    margin-right: 28px;
    padding: 15px 0;
    background: #ffb900;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    border-radius: 32px;
}
.watch-video {
    display: flex;
    align-items: center;
    border: none;
    background: #fffcf4;
    cursor: pointer;
}

.hero .watch-video .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0px 8px 16px 0px #00000012;
}

.hero .watch-video span {
    margin-left: 14px;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
}

/* hero-summary */
.hero-summary {
    width: 270px;
    padding: 24px 0 24px 24px;
    position: absolute;
    box-shadow: 0px 16px 32px 0px #0000000d;
    background-color: #ffffff;
    right: 0px;
    bottom: 48px;
    border-radius: 12px;
}

.hero-summary .item {
    display: flex;
    align-items: center;
}

.hero-summary .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background-color: #fff9e8;
    border-radius: 50%;
}

.hero-summary .icon-development {
    background-color: #fdf1ff;
}
.hero-summary .item .info {
    margin-left: 16px;
}
.hero-summary .icon-marketing {
    background-color: #ebeaff;
}

.hero-summary .item .info .title {
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
}
.hero-summary .item .info .label {
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
}

.hero-summary .item-mid {
    margin: 14px 0;
}

/* Popular */
.popular {
    padding-bottom: 65px;
}

.popular .info {
}

.popular .popular-top {
    display: flex;
    align-items: center;
    padding: 65px 0;
    margin-top: 135px;
}

.popular .info .heading {
    font-family: Sen;
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.02em;
    text-align: left;
}

.popular .popular-top .info .desc {
    width: 458px;
    margin-top: 16px;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #5f5b53;
}

.popular .controls {
    margin-left: auto;
    display: flex;
}

.controls-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #ffb900;
    object-fit: cover;
    background-color: #ffffff;
}

.chevron-right {
    background-color: #ffb900;
    margin-left: 18px;
}

/* course-list */

.popular .course-list {
    display: flex;
    gap: 30px;
}

.popular .course-item {
    flex: 1;
    background-color: #ffffff;
    border: 1px solid #e2dfda;
    border-radius: 12px;
}
.popular .course-item:hover {
    border-color: transparent;
    box-shadow: 0px 18px 36px 0px #0000000d;
}

.popular .course-item .thumb {
    width: 100%;
    height: 278px;
    object-fit: cover;
    border-radius: 12px, 12px, 0px, 0px;
}

.popular .course-item .info {
    padding: 16px 22px 22px 22px;
}

.popular .course-item .info .head {
    display: flex;
    justify-content: space-between;
}

.popular .course-item .info .head .title a {
    margin-right: 10px;
    margin-bottom: 6px;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #171100;
}

.popular .course-item .info .desc {
    margin-bottom: 12px;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #5f5b53;
}

.popular .course-item .info .foot .btn,
.btn-blog {
    cursor: pointer;
    margin-top: 12px;
    min-width: 118px;
    padding: 0 0;
    border: none;
    border-radius: 25px;
    background-color: #ffb900;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: 0em;
}
.popular .course-item .info .foot .btn:hover {
    background-color: #171100;
    color: #ffffff;
    transition: 0.9s;
}

.popular .course-item .info .price {
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
}

.popular .course-item .info .foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rating {
    display: flex;
    gap: 5px;
    align-items: center;
}

/* feedback */
.feedback,
.footer {
    margin-top: 135px;
    width: 100%;
    height: 380px;
    background: #2e2100;
}

.feedback .main-content {
    padding: 96px 0;
}

.feedback .main-content .feedback-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.feedback .feedback-items .info .dots {
    display: flex;
}

.feedback .feedback-items .info .dots .dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #ffffff;
    margin-right: 3px;
}

.feedback .feedback-items .info .dots .dot.active,
.dots-icon-blog .dot.active {
    background-color: #ffb900;
}

.feedback .main-content .avatar {
    width: 72px;
    height: 72px;
}

.feedback .main-content .title {
    margin: 18px 0 4px 0;
    color: #f7f7f7;
    font-family: Sen;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
}

.feedback .main-content .desc {
    margin-bottom: 28px;
    color: #bfbcb2;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
}
.feedback .main-content .feedback-content {
    width: 770px;
}

.feedback .main-content .feedback-content blockquote {
    color: #f7f7f7;
    font-family: Poppins;
    font-size: 2.6rem;
    font-style: italic;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
}

.feedback-icon1 {
    /* display: inline-block; */
    margin-left: -30px;
    width: 30px;
    height: 28px;
}

/* featuares */
.featuares {
    margin-top: 200px;
}

.featuares .images {
    display: flex;
    gap: 30px;
    object-fit: cover;
    width: 270px;
    height: 404px;
    border-radius: 16px;
}

.featuares .lower-right {
    margin-top: -34px;
}

.featuares .lower-left {
    margin-bottom: -34px;
}

.featuares .body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.featuares-content {
    width: 470px;
}

.featuares-content .title {
    font-family: Sen;
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.02em;
    text-align: left;
}

.featuares-content .desc {
    margin: 16px 0;
    color: #5f5b53;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}

.btn-featuares {
    margin-top: 32px;
    padding: 17px 37.5px;
    border-radius: 26px;
    color: #ffffff;
    background-color: #ffb900;
}

.body-features-2nd {
    height: 440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.body-features-2nd .desc {
    margin: 16px 0 32px 0;
}

.cta-btn {
    margin: 0;
    padding: 17px 32px;
}

.out-blog {
    background-color: #fffcf4;
    margin-top: 200px;
    padding-bottom: 96px;
    display: block;
    padding-top: 96px;
}

.top-out-block {
    margin: 0 auto;
    width: 448px;
    height: 120px;
}

.out-blog .title {
    font-family: Sen;
    color: #130606;
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.02em;
    text-align: center;
}

.out-blog .desc {
    font-family: Poppins;
    color: #696262;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
}

.blog-list {
    display: flex;
    gap: 30px;
}

.blog-list .item {
    border-radius: 16px 16px 0 0;
    background-color: #ffffff;
}

.blog-list .item .thumb {
    border-radius: 16px 16px 0 0;
    object-fit: cover;
    width: 370px;
    height: 250px;
}

.blog-list .item .info {
    padding: 20px 20px 28px 20px;
}

.date {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
}

.date span::after {
    position: absolute;
    content: "";
    background-color: #e2dfda;
    width: 160px;
    height: 1px;
    bottom: -12px;
    left: 0px;
    border-radius: 0.5px;
}
.dot-blog {
    display: inline-block;
    background-color: #ffb900;
    width: 6px;
    height: 6px;
    border-radius: 50%;
}

.blog-list .item .info .title-blog a {
    display: inline-block;
    margin: 12px 0;
    color: #171100;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}

.btn-blog {
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    padding: 12px 20px;
}

.btn-blog:hover {
    background-color: #171100;
    color: #ffffff;
    transition: 0.9s;
}

.dots-icon-blog {
    margin-top: 38px;
    display: flex;
    justify-content: center;
}
.dots-icon-blog .dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #5f5b53;
    margin-right: 3px;
}
.footer {
    padding-top: 96px;
    padding-bottom: 28px;
}

.footer .main-content {
    position: relative;
    display: flex;
}
.footer .content-left {
    width: 279px;
}

.footer .content-left .desc {
    color: #bfbcb2;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;

    margin: 18px 0;
}

.footer-icon {
    margin-right: 9px;
}

.footer .list-column {
    margin-left: 145px;
    width: 100%;
    display: flex;
    gap: 266px;
}

.column .title {
    position: relative;
    color: #ffffff;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}
.column .title::after {
    display: block;
    position: absolute;
    background-color: #59554b;
    content: "";
    width: 130px;
    height: 1px;
    bottom: -14px;
    left: 0;
}

.list-column ul li {
    display: flex;
}

.list-column ul li a {
    display: inline-block;
    padding: 6px 0;
    color: #bfbcb2;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
}

.list-column ul li:nth-child(1) {
    margin-top: 28px;
}

.footer .main-content::after {
    display: block;
    position: absolute;
    background-color: #59554b;
    content: "";
    width: 100%;
    height: 1px;
    bottom: -38px;
}

.copyright {
    padding-bottom: 20px;
    align-items: center;
    color: #807d74;
    background-color: #2e2100;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
}
